node_modules
screenshots
downloads
reports
videos
cypress-visual-screenshots/comparison
cypress-visual-screenshots/diff
cypress-visual-report
multi-reporter-config.json
reports
yarn-error.log
package-lock.json
.vscode